@{
    ViewData["Title"] = "Home Page";
}

<div class="align-center">
    <h4>ФИЗИКОН: структура данных о курсах и модулях</h4>
    <table>
    </table>
    <div class="text-center">
        <a href="#" onclick="jQuery('#allCourses').treetable('expandAll'); return false;">Expand all</a>
        <a href="#" onclick="jQuery('#allCourses').treetable('collapseAll'); return false;">Collapse all</a>
    </div>
    <table id="allCourses" class='table table-bordered table-striped table-hover'>
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Status</th>
                <th>Subject</th>
                <th>Grade</th>
                <th>Genre</th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th><input type="text" name="search" id="subject" /></th>
                <th><input type="text" name="search" id="grade" /></th>
                <th><input type="text" name="search" id="genre" /></th>
            </tr>
        </thead>
        <tbody id="tbody"></tbody>
    </table>

</div>
